<%- include("./partials/header.ejs") %>
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
  <a class="navbar-brand" href="/">Grand View</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profiles">Profiles</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/new">Create A New</a>
		  <a class="dropdown-item" href="/profile">My Profile</a>
          <a class="dropdown-item" href="/users/logout">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<form action="/edit/profile?_method=PUT" method="POST">
	<img src="https://grand-view.herokuapp.com/image/<%= user.photo %>" class="img-thumbnail" style="width: 200px; height: 200px;">
	<a class="btn btn-primary" href="/photo" style="display: block">Change My Profile Picture</a>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="<%= user.name %>">
  </div>
  <div class="form-group">
    <label for="username">User Name</label>
    <input type="text" class="form-control" name="username" id="username" placeholder="User Name" value="<%= user.username %>">
  </div>
	  <div class="form-group">
    <label for="number">Phone Number</label>
    <input type="number" class="form-control" id="number" name="number" placeholder="Phone Number" value="<%= user.number %>">
  </div>
	  <div class="form-group">
         <label for="bio">bio</label>
          <textarea
            type="text"
            id="bio"
            name="bio"
            class="form-control"
            placeholder="bio"
            value="<%= typeof bio != 'undefined' ? bio : '' %>"
			><%= user.bio %></textarea>
  </div>
	  <div class="form-group">
    <label for="apartment">Apartment Number</label>
    <input type="text" class="form-control" id="apartment" name="apartment" placeholder="Apartment Number" value="<%= user.apartment %>">
  </div>
	<input type="submit" class="btn btn-success">
</form>
