<%- include("./partials/header.ejs") %>
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
  <a class="navbar-brand" href="/">Grand View</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profiles">Profiles</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		  <a class="dropdown-item" href="/profile">My Profile</a>
		  <a class="dropdown-item" href="/search">Search</a>
          <a class="dropdown-item" href="/users/logout">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<% services.forEach(service => { %>
<div class="ui card">
	<div class="content">
			<div class="right floated meta"><%= service.type %></div>
		Service
	</div>
		<div class="content">
    <div class="right floated meta"><%= service.created %> <%= service.createdTime %></div>
    <img class="ui avatar image" src="http://grand-view.herokuapp.com/image/<%= service.author.image %>">
		<%= service.username %> 
	</div>
	<div class="image">
		<% if(!service.image){ %>
		<img src="https://semantic-ui.com/images/wireframe/image.png">
		<% }else { %>
			    <img src="http://grand-view.herokuapp.com/image/<%= service.author.image %>">
		<% } %>
	</div>
	<h1>
		<%= service.title %>
	</h1>
	<p>
		<%= service.body %>
	</p>
   <div class="extra content">
	  <form action="/service/comment/<%= service._id %>" method="POST">
		<div class="ui large transparent left icon input">
      		<i class="comment icon"></i> <input type="text" placeholder="Add Comment..." name="comment">
			<input type="hidden" name="created" value="<%= moment().format('dddd') %>">
			<input type="hidden" name="createdTime" value="<%= moment().format('h:mm a') %>">
    	</div>
	  </form>
  </div>
	 <div class="extra content">
      <button class='reserve'>
        <img class='reserveImg' src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQq8N3dSWad5RKfCiLsW70dLYbs88dwOuRUgg&usqp=CAU"> 50
      </button>
    </div>
</div>
<div class="ui threaded comments">
  <h3 class="ui dividing header">Comments</h3>
	<% for(var i = 0; i < service.comments.length; i++){ %>
	<div class="comment">
			<a class="avatar">
			  <img src="http://grand-view.herokuapp.com/image/<%= service.comments[i].image %>">
			</a>
		<div class="content">
		  <a class="author"><%= service.comments[i].username %></a>
		  <div class="metadata">
			<span class="date"><%= service.comments[i].created %> <%= service.comments[i].createdTime %></span>
		  </div>
		  <div class="text">
		   <%= service.comments[i].body %>
	  </div>
</div>
<% } %>
	</div>
</div>
<% }) %>